{% extends 'layout.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<!Container home inicio>
<div class="container-fluid home">
    <div class="row">
        <img src="static/images/TW-10.png" class="parallax">
    </div>
</div>
<!Container buscador>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title-consejos" >CONSEJOS LOCALES</h2>
      <hr class="special-line">
    </div>
  </div>
</div>


<!-- formulario de búsqueda -->


<!Container consejos>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title-consejos" >NUESTRAS 8 CURULES ESPECIALES</h2>
      <hr class="special-line">
    </div>
  </div>
</div>

<div class="container-consejos justify-content-center ">
  <div class="row mx-auto mb-4" >
    {% for consejo in consejos %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 px-3">
      <div class="card hoverable white ">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator " src="{{ consejo.logo.url }}" alt="{{ consejo.name }} logo">
        </div>
        <div class="card-content">
          <span class="card-title black-text text-darken-4">{{ consejo.name }} </span>
        </div>
        <div class="card-reveal">
          <span class="card-title brown-text text-darken-2">{{ consejo.name }}<i class="material-icons right">close</i></span>
          <p class="text-icons">{{ consejo.type_consejo }}</p>
          <p class="text-icons">{{ consejo.email }}</p>
          <p class="text-icons">{{ consejo.description }}</p>
          <li><a class="blue-text" href="#sabersobre-1">Saber mas</a></li>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!Container eventos y noticias>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title-consejos">EVENTOS Y NOTICIAS</h2>
      <hr class="special-line">
    </div>
  </div>
</div>
<!Container footer>
<footer class="black text-light d-flex align-items-center py-4">
  <div class="container-fluid footer-color">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 col-sm-12 text-center mb-4">
        <img src="static/images/logo.png" alt="logo" class="logo mx-auto">
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12 mb-4 center-mobile">
            <h5>Información de Contacto</h5>
            <ul class="list-unstyled">
              <li><i class="fas fa-map-marker-alt"></i> Dirección de la empresa</li>
              <li><i class="fas fa-phone"></i> Teléfono de contacto</li>
              <li><i class="fas fa-envelope"></i> Correo electrónico</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 center-mobile">
            <h5>Menú de navegación</h5>
            <ul class="list-unstyled">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 mb-4 center-mobile">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-12 color-created">
    <div class="text-center black-text">
      <p class="footer-years">© 2023 Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
  
{% endblock %}
