
/* Style General */

body {
    background: #ffffff;
  }
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0px;
    border: 0px;
  }
  html {
    scroll-padding-top: 60px; 
}

  /* Style NavBar */
 
.logo{
  width: 110px;
  display: flex;
  top: 0px;
}
.link{
  font-family: 'Poppins';
}
.sidenav-trigger {
  color: #ffffff;
} 
.nav-item{
  margin-top: 15px;
}
.navbar-mi-color {
  height: 80px;
  background-color: #1A1D37;
}
.nav-wrapper{
  justify-content: center;
  justify-items: center;
  margin-top: 8px;
}
  
  /* Style media */
  
  @media only screen and (max-width : 992px) {

  }
  
  @media only screen and (max-width : 600px) {
   

  }
  @media only screen and (max-width : 500px) {

  }
  @media only screen and (max-width : 370px) {
 
  }
  /* Style foonter */
  
  footer.page-footer {
    margin: 0;
  }

