{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<script type="text/javascript" src="{% static 'home/init.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

 <!-- Barra de navegacion  -->
 <div class="navbar-fixed">
  <nav class="navbar-mi-color" role="navigation">
    <div class="nav-wrapper">
      <div class="container">
        <a id="logo-container" href="#inicio" class="brand-logo">
          <img class="logo" src="static/images/logo.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="link  white-text" href="#inicio">Example</a></li>
          <li><a class="link white-text" href="#sobremi">Example</a></li>
          <li><a class="link  white-text" href="#proyectos">Example</a></li>
          <li><a class="link  white-text" href="#conocimientos">Example</a></li>
          <li><a class="link  white-text" href="#contacto">Example</a></li>
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul id="mobile-demo" class="sidenav sidenav-close black" style="width:200px">
  <br>
  <li>
    <a class="pink-text" href="#inicio">
    <i class="material-icons icono purple-text">home</i>Example
    </a>
  </li>
  <li>
    <a class="pink-text"  href="#sobremi">
      <i class="material-icons icono purple-text">work</i>Example
    </a>
  </li>
  <li>
    <a class="pink-text"  href="#proyectos">
      <i class="material-icons icono purple-text">layers</i>Example
    </a>
  </li>
  <li>
    <a  class="pink-text" href="#conocimientos">
      <i class="material-icons icono purple-text">perm_media</i>Example
    </a>
  </li>
  <li>
    <a class="pink-text"  href="#contacto">
      <i class="material-icons icono purple-text">phone</i>Example
    </a>
  </li>
</ul>